<div class="favorites-wrapper">
  <h1>Your Favorite Gems</h1>
  <div class="favorites-list">
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
    <div class="favorite">
      <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
      <div class="favorite-link"><a href="#">test</a></div>
    </div>
  </div>
</div>
