<div class="result-wrapper">
  <div class="result">
    <div class="result-link">
      <a href="<%= @result["project_uri"] %>" target="_blank"><%= @result["name"] %></a>
    </div>
    <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
  </div>
  <div class="result-details">
    <div class="result-information">
      <h2>Information</h2>
      <p><%= @result["info"] %></p>
    </div>
    <div class="result-dependencies">
      <h2>Dependencies</h2>
      <div class="dependency-list">
        <% if @result["dependencies"]["development"].any? %>
          <% @result["dependencies"]["development"].each do |dependency| %>
            <div class="result dependency">
              <div class="result-link">
                <a href="https://rubygems.org/gems/<%= dependency["name"] %>" target="_blank"><%= dependency["name"] %></a>
              </div>
              <%= image_submit_tag("star-gray.png", class: 'fav-btn') %>
            </div>
          <% end %>
        <% else %>
          <p>None</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
